<!-- views/profile.ejs -->
<%- include header %>


	<div class="row">	
		<!-- LOCAL INFORMATION -->
				<h3><span class="fa fa-user"></span>Welcome! <%= user.local.username %></h3>

	</div>
	
	<table border="0" width="100%">
		<tr>
		<td width="25%">
			<a href="/createroom" class="btn btn-default btn-sm">Create Room</a>
		</td>
		<td width="40%">&nbsp;</td>
		<td width="35%">
			<%if (numberOfRoom != 0) { %>
				<form action="/whiteboard" method="get">
				Go to whiteboard room:
					<input type="text" name="id">
					<input type="submit" value="Submit">
				</form>	
			<%}%>
		</td>
		</tr>
	</table>
	<br><br>
	
	<table cellspacing="0" cellpadding="0" width="100%" style='table-layout : fixed'>
		<tr>
			<td width="8%"></td>
			<td width="10%"><strong>Room ID</strong></td>	
			<td width="10%"><strong>Host</strong></td>	
			<td width="30%"><strong>Create Date</strong></td>	
			<td width="42%"><strong>User using the room</strong></td>
		</tr>			
	<%if (numberOfRoom != 0) { %>
		<%for (var i=0; i<global.room.length; i++) {%>
			<tr>
			<td>
				<a href="/whiteboard?id=<%=global.room[i]%>" class="btn btn-default btn-sm">Enter</a>
			</td>
			<td>
				<%=global.room[i]%>
			</td>
			<td>
				 <a href="/user?user=<%=global.host[global.room[i]]%>"><%=global.host[global.room[i]]%></a>
			</td>	
			<td>
				 <%=global.date[global.room[i]]%>
			</td>	
			<td>
				 <%for (var j=0;j<global.roomInfo[global.room[i]].length;j++){%>
					<%=global.roomInfo[global.room[i]][j]%>
				 <%}%>
			</td>
			</tr>	
		<% } %>
	<% } %>
	</table>
</div>
</body>
</html>
